body {
  background-color: #f2f2f2;
  padding: 12px 0;
  margin: 0;
  font-family: roboto;
  font-size: 14px;
  font-weight: bold;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  #events {
    display: flex;
    width: 100%;
    height: 56px;
    background-color: white;
    overflow-x: auto;
    overflow-y: hidden;

    &.full {
      height: 300px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .element {
      display: inline-flex;
      height: 100%;
      border-right: 1px solid rgba(0, 0, 0, .12);

      .date {
        padding: 8px 8px 8px 18px;
        text-align: center;
        .day {
          font-size: 24px;
          height: 24px;
        }
      }
      #event {
        display: flex;
        padding: 8px 8px 8px 12px;
        background-position: center;
        transition: background 0.8s;

        .time {
          display: none;
        }

        &:hover {
          background: #f7f7f7 radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
        }
        &:active {
          background-color: #f7f7f7;
          background-size: 100%;
          transition: background 0s;
        }

        &.full {
          display: none;
        }

        .team {
          text-align: center;
          margin-right: 4px;

          .name {
            font-size: 12px;
          }
          .flag-icon {
            border-radius: 50%;
            margin-top: 2px;
            zoom: 1.8;
            position: relative;
            &.finished { // for showing results
              &:after {
                content: "1";
                z-index: 10;
                display: block;
                position: absolute;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                background: rgba(255, 255, 255, 0.9);
              }
            }
          }
        }
      }
    }
  }
  &.toggled {
    #events {
      height: 300px;
      .element {
        flex-direction: column;

        #event {

          .time {
            display: flex;
            justify-content: center;
            font-size: 12px;
            color: rgba(0,0,0,.54);
            writing-mode: tb-rl;
            transform: scale(-1);
            margin-right: 7px;
          }

          &.full {
            display: flex;
          }
        }

        .date {
          padding: 8px 0 8px 0px;
        }
      }
    }
    #more-icon {
      -ms-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }
}



#more {
  display: flex;
  justify-content: center;
  padding: 16px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #000;

  #more-icon {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 0 4px;

    path {
      fill: #fd5c3c;
      fill-rule: evenodd;
      stroke-linejoin: round;
      stroke-miterlimit: 1.41421;
    }
  }
}

.header {
  font-size: 16px;
  background: url(http://www.leovegas.com/static/sports-client/images/pattern@2x.1445bc71.png) 0 0 repeat,linear-gradient(90deg,#f58249,#fd5c3c);
  padding: 8px 16px;
  color: white;

  justify-content: space-between;
  display: flex;

  .nav {
    margin-top: 2px;
    display: flex;
    align-items: center;

    .arrow-icon {
      path {
        fill: white;
        fill-rule: evenodd;
        stroke-linejoin: round;
        stroke-miterlimit: 1.41421;
      }

      &.left {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        opacity: 0.7;
        padding-left: 12px;
      }
    }
  }
}

